*{
    box-sizing: border-box;
}
header{
    background-color: bisque;
    padding: 3ch;
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 3ch;
    font-weight: bolder;
}
footer{
    background-color: bisque;
    padding: 2ch;
    text-align: center;
    font-size: 2.5ch;
    font-weight: bolder;
    height: 20ch;
    margin-top: 5ch;
}
main{
    height: 100%;
    background-color: rgba(255, 235, 205, 0.171);
}
#mytable{
    display: inline-table;
    border: 0.1ch solid black;
    margin-left: 60ch;
    margin-top: 2ch;
}
#mytable td{
    border: 0.2ch double black;
    text-align: center;
    font-size: 2.2ch;
    padding: 1ch;
}
 #myform{ 
display: inline-block;  
  border: 0.5ch double black;
  border-radius: 0.4ch;
padding: 1ch;
background-color: rgba(210, 105, 30, 0.431);
width: 30ch;
height: 35ch;
margin-left: 15ch;
margin-top: 10ch;
}